.nav-bar {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 1.7rem;
    color: white;
  }

  button {
    font-size: 1.7rem;
    background: transparent;
    cursor: pointer;
    color: white;
    border: 3px solid rgb(229, 255, 0);
    padding: 0.5rem;
    transition: all 0.7s ease;
    &:hover {
      background: #d0ff00;
      color: black;
    }

    span {
      padding-right: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    .fa-spin {
      margin-top: 5px;
    }

    h1 {
      font-size: 1.3rem;
      color: white;
    }

    button {
      z-index: 10;
      margin-top: 0.8rem;
      font-size: 0.8rem;
    }
  }
}
