.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 45%;
  display: flex;
  input {
    width: 100%;
    padding: 2rem 0rem;
  }
  p {
    padding: 2rem;
    font-size: 1.5rem;
  }
}

.play-control {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .skip-back {
    padding: 1rem 2rem;
  }

  .skip-forward {
    padding: 1rem 2rem;
  }

  .play {
    padding: 1rem 1rem;
  }
}
