.player {
  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  // background-color: #74ebd5;
  // background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  ////
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.8s ease;
}

.time-control {
  width: 45%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
  }

  p {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

.play-control {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .vol-control {
    display: flex;
    align-items: center;
    margin-top: -15rem;
    width: 30%;
    transition: all 1s ease;

    &:hover > .slider-track > .audioSlider {
      width: 100%;
    }

    &:hover > .slider-track > .slider-animate {
      width: 100%;
    }

    .vol-icon {
      padding: 0rem 1rem;
    }

    .slider-track {
      display: flex;
      width: 100%;
      align-items: center;
      border-radius: 2rem;
      position: relative;
      height: 2rem;
      cursor: pointer;
      overflow: hidden;

      .audioSlider {
        width: 0%;
        height: 60%;
        -webkit-appearance: none;
        border-radius: 2rem;
        background-color: #e0292d;
        background-image: linear-gradient(90deg, #e0292d 0%, #ff00cc 100%);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.8s ease;
      }

      .slider-animate {
        position: absolute;
        height: 100%;
        width: 0%;
        top: 0%;
        left: 0%;
        border-radius: 2rem;
        transform: translateX(0%);
        background-color: #8ec5fc;
        background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
        cursor: pointer;
        transition: all 0.8s ease;
        pointer-events: none;
      }
    }
  }

  .skip-back {
    margin-top: -15rem;
    padding: 1rem 2rem;
  }

  .skip-forward {
    margin-top: -15rem;
    padding: 1rem 2rem;
  }

  .play {
    margin-top: -15rem;
    padding: 1rem 1rem;
  }
}

.toggle-player {
  margin-left: 20rem;
  min-height: 30vh;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.track {
  position: relative;
  background: lightblue;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 1rem;
  transform: translateX(0%);
  background: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media screen and (max-width: 1268px) {
  .time-control {
    width: 80%;
  }

  .play-control {
    width: 60%;

    .vol-control {
      width: 30%;
    }
  }
}

@media screen and (max-width: 768px) {
  .player {
    min-height: 40vh;

    .time-control {
      width: 95%;
      margin-top: 2rem;

      input {
        background: transparent;
      }

      p {
        padding: 0.5rem;
        font-size: 0.8rem;
      }
    }

    .play-control {
      width: 80%;

      .vol-control {
        width: 40%;
        display: none;
      }

      .skip-back {
        margin-top: -16rem;
        padding: 1rem 2rem;
      }

      .skip-forward {
        margin-top: -16rem;
        padding: 1rem 2rem;
      }

      .play {
        margin-top: -16rem;
        padding: 1rem 2rem;
      }
    }

    .track {
      height: 0.6rem;
    }
  }
}
