* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #8347bb;
  // background: #4b5d67;
  // overflow: hidden;
}

h1,
h2 {
  color: rgb(54, 54, 54);
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

h4 {
  font-weight: 100;
  padding: 1rem 0.5rem;
  color: rgb(217, 255, 0);
}

.App {
  transition: all 1s ease;
}

.library-active {
  margin-left: 20rem;
}

@media screen and (max-width: 768px) {
  .library-active {
    margin-left: 0rem;
  }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
